// Variables
$white-color: #fff;
$black-color: #000;
$dark-gray-color: hsl(0, 0%, 59%);
$very-dark-gray-color: hsl(0, 0%, 17%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  height: 100vh;
  background: url(../src/assets/images/pattern-bg-desktop.png) center/cover no-repeat;
}
.search-section {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 0;
  padding-top: 2rem;

  h1 {
    font-weight: 500;
    color: $white-color;
  }

  .search-container {
    width: 25%;
    display: flex;
    justify-content: center;
    form {
      width: 100%;
    }
    input {
      width: 100%;
      height: 45px;
      border-radius: 10px;
      border: none;
      padding-left: 1rem;
    }
  }
}

.result-section {
  background-color: $white-color;
  position: absolute;
  height: 150px;
  width: 50%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  z-index: 1;
  h5 {
    color: $dark-gray-color;
    font-weight: 500;
  }
  p {
    color: $very-dark-gray-color;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .seperator {
    width: 1px;
    height: 50px;
    background-color: $dark-gray-color;
  }

  .ip-address, .location, .timezone, .isp{
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
  }
}

.leaflet-container {
  height: 65vh;
  z-index: 0;
}

.leaflet-bottom {
  display: none;
}

.location-map {
  opacity: 0; /* Make the map invisible on startup */
  transition: opacity 2s ease-in-out;
}

.location-map.loaded {
  opacity: 1; /* Make the map visible when data is received */
}
